<nav class="amber  darken-1" id="menu" >
  <div class="nav-wrapper">
    <a [routerLink]="['/admin']" class="brand-logo">Prevtrans</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active" ><a [routerLink]="['acidentes-de-transitos']">Acidentes de Trânsito<i class="material-icons left">drive_eta</i></a></li>
      <li *ngIf="auth.temPermissao('ROLE_LISTA_INSTITUICAO')"routerLinkActive="active" ><a [routerLink]="['instituicoes']">Instituições<i class="material-icons left">account_balance</i></a></li>
      <li *ngIf="auth.temPermissao('ROLE_LISTA_USUARIO')"routerLinkActive="active" ><a [routerLink]="['usuarios']">Usuários<i class="material-icons left">account_circle</i></a></li>
      <li (click)="logout()"><a>Sair <i class="material-icons left"></i></a></li>
    </ul>
    <ul class="side-nav amber  darken-1" id="mobile-demo">
        <li routerLinkActive="active" >
          <a [routerLink]="['acidentes-de-transitos']">
            <i class="material-icons left  white-text ">drive_eta</i>
              <span class="white-text"> Acidentes de Trânsito
              </span>
          </a>
        </li>
        <li *ngIf="auth.temPermissao('ROLE_LISTA_INSTITUICAO')" routerLinkActive="active" >
          <a [routerLink]="['instituicoes']">
            <i class="material-icons white-text">account_balance</i>
            <span class="white-text"> Instituições
              </span>
           </a>
        </li>
        <li *ngIf="auth.temPermissao('ROLE_LISTA_USUARIO')" routerLinkActive="active" >
          <a [routerLink]="['usuarios']">
            <i class="material-icons left  white-text ">account_circle</i>
              <span class="white-text"> Usuários
              </span>
          </a>
        </li>
    </ul>
  </div>
</nav>

