<div class="container">
  <div class="row">
    <form materialize [formGroup]="acidenteTransitoForm" novalidate>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Cadastro Acidente de Trânsito</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4 l8 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="titulo-publicacao" type="text" formControlName="tituloPublicacao" autocomplete="off">
            <label class="black-text text-darken-4" for="titulo-publicacao">Titulo Publicação</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l2">
          <app-input-container>
            <input id="data" formControlName="data" name="datepicker" materialize="pickadate"
                   [materializeParams]="[{format: 'dd/mm/yyyy'}]" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="data">Data</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l2">
          <app-input-container>
            <input class="timepicker" id="hora" formControlName="hora" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="hora">Hora</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m12 l12">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 1000 caracteres">
            <textarea id="descricao" formControlName="descricao" class="materialize-textarea"></textarea>
            <label class="black-text text-darken-4" for="descricao">Descrição do Acidente de Trânsito</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Localização do Acidente de Trânsito</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <a (click)="buscaLatitudeLongitude()" class="col s12 m3 l3  waves-light btn-large"><i
          class="material-icons left">search</i>Buscar no mapa</a>
        <div class="input-field col s12 m3 l3">
          <app-input-container errorMessage="Campo Obrigatório ">
            <input id="latitude" type="text" formControlName="latitude" autocomplete="off">
            <label class="black-text text-darken-4" for="latitude">Latitude</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container errorMessage="Campo Obrigatório ">
            <input id="longitude" type="text" formControlName="longitude" autocomplete="off">
            <label class="black-text text-darken-4" for="longitude">Longitude</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container errorMessage="Cep inválido">
            <input id="cep" prevtransMask="99999-999" type="text" formControlName="cep" autocomplete="off">
            <label class="black-text text-darken-4" for="cep">Cep</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l8">
          <app-input-container errorMessage="Campo Obrigatorio">
            <input id="endereco" type="text" formControlName="endereco" autocomplete="off">
            <label class="black-text text-darken-4" for="endereco">Endereço</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l4">
          <app-input-container>
            <input id="complemento" type="text" formControlName="complemento" autocomplete="off">
            <label class="black-text text-darken-4" for="complemento">Complemento</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l5">
          <app-input-container errorMessage="Campo Obrigatório">
            <input id="bairro" formControlName="bairro" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="bairro">Bairro</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l5">
          <app-input-container errorMessage="Campo Obrigatorio">
            <input id="cidade" formControlName="cidade" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="cidade">Cidade</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l2">
          <app-input-container>
            <input id="estado" formControlName="estado" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="estado">Estado</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Dados Acidente de Trânsito</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4 l2">
          <app-input-container>
            <input id="quantidadeVitimas" formControlName="quantidadeVitimas" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="quantidadeVitimas">Quantidade de Vitimas</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Veiculos Envolvidos</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <a (click)="abreModalVeiculo()" class="col s12 m3 l3 waves-effect waves-light btn-large"><i
          class="material-icons left">add</i>Adicionar Veiculo</a>
        <div class="col s12">
          <table class="striped responsive-table">
            <thead>
            <tr>
              <th>TIPO VEICULO</th>
              <th>FABRICANTE</th>
              <th>MARCA</th>
              <th>PLACA</th>
              <th>DESCRIÇÃO</th>
              <th>NUMERO DE OCUPANTES</th>
              <th style="text-align: center">ALTERAR</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let veiculoT of veiculos">
              <td>{{veiculoT.tipoVeiculo.tipoVeiculo}}</td>
              <td>{{veiculoT.fabricante}}</td>
              <td>{{veiculoT.marca}}</td>
              <td>{{veiculoT.placa}}</td>
              <td>{{veiculoT.descricao}}</td>
              <td>{{veiculoT.numeroOcupantes}}</td>
              <td style="text-align: center">
                <a class="waves-effect waves-yellow btn-flat center"> <i class="material-icons">mode_edit</i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Imagens</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <p-galleria class="col s12"[showCaption]="false" [images]="images" panelWidth="1000" panelHeight="600" [showCaption]="true"></p-galleria>
      </div>

      <div class="row">
        <image-upload class="col s12 "
                      [buttonCaption]="'Selecionar imagens'"
                      [dropBoxMessage]="'Solte suas imagens aqui!'"
                      [extensions]="['jpeg','png']"
                      (onFileUploadFinish)="imageUploaded($event)"
                      (onRemove)="imageRemoved($event)"
                      (isPending)="disableSendButton($event)"></image-upload>
      </div>
      <div class="row">
        <button (click)="cancelar()" class="amber accent-4 right waves-yellow btn"><i
          class="material-icons left">clear</i>Cancelar
        </button>
        <button (click)="salvar(acidenteTransitoForm.value)" [disabled]="!acidenteTransitoForm.valid"
                class="amber accent-4 right waves-yellow btn" style="margin-right: 10px; "><i
          class="material-icons left">done</i>Salvar
        </button>
        <button (click)="addToast()" class="amber accent-4 right waves-yellow btn"
                style="margin-right: 10px; "><i
          class="material-icons left">done</i>TOAST
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Modal Mapa Busca Acidente de Trânsito -->
<div id="modal-busca" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content">
    <form>
      <div class="row map-container">
        <div materialize class="col s12" id="map">
          <agm-map [latitude]="lat"
                   [longitude]="lng"
                   [mapTypeId]="'roadmap'"
                   [zoom]="zoom"
                   id="myMap"
                   (mapClick)="mapClicked($event)">
            <agm-marker [latitude]="localizacao.latitude"
                        [longitude]="localizacao.longitude"></agm-marker>
          </agm-map>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="fechaMapaBusca()" class="amber accent-4 right  waves-yellow btn"><i
      class="material-icons left">clear</i>Cancelar
    </button>
    <button (click)="adicionaLocalizacao()"
            class="amber accent-4 right  waves-yellow btn" style="margin-right: 10px; "><i
      class="material-icons left">done</i>Adicionar
    </button>
  </div>
</div>

<!-- Modal cadastra veiculo-->
<div id="modal-veiculo" class="modal" materialize="modal">
  <div class="modal-content">
    <form materialize [formGroup]="veiculoForm" novalidate>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Adicionar Veiculo</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório ">
            <select formControlName="tipoVeiculo" materialize="material_select"
                    [materializeSelectOptions]="tiposVeiculos">
              <option value="" disabled selected>Selecione o Tipo de Veiculo</option>
              <option *ngFor="let tipoVeiculo  of tiposVeiculos" [ngValue]="tipoVeiculo">{{tipoVeiculo.tipoVeiculo}}
            </select>
            <label class="black-text text-darken-4">Tipo Veiculo</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="fabricante" type="text" formControlName="fabricante" autocomplete="off">
            <label class="black-text text-darken-4" for="fabricante">Fabricante</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="marca" type="text" formControlName="marca" autocomplete="off">
            <label class="black-text text-darken-4" for="marca">Marca</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="placa" type="text" formControlName="placa" autocomplete="off">
            <label class="black-text text-darken-4" for="placa">Placa</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="descricao" type="text" formControlName="descricao" autocomplete="off">
            <label class="black-text text-darken-4" for="descricao">Descrição</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="numeroOcupantes" type="text" formControlName="numeroOcupantes" autocomplete="off">
            <label class="black-text text-darken-4" for="numeroOcupantes">Numero Ocupantes</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <button (click)="fechaModalVeiculo()" class="amber accent-4 right waves-effect waves-yellow btn"><i
          class="material-icons left">clear</i>Cancelar
        </button>
        <button (click)="adicionaVeiculo(veiculoForm.value)" [disabled]="!veiculoForm.valid"
                class="amber accent-4 right waves-yellow btn" style="margin-right: 10px; "><i
          class="material-icons left">done</i>Adicionar
        </button>
      </div>
    </form>
  </div>
</div>
