<div class="container">
  <div class="row">
    <form materialize [formGroup]="acidenteTransitoForm" novalidate>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">{{titulo}}</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4 l8 ">
          <app-input-container [errorMessage]="['','tamanho minimo 5']">
            <input id="titulo-publicacao" type="text" formControlName="tituloPublicacao" autocomplete="off">
            <label class="black-text text-darken-4" for="titulo-publicacao">Titulo Publicação</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m2 l2">
          <app-input-container >
            <input id="data" materialize="pickadate" class="datepicker" formControlName="data"
                   [materializeParams]="[data]">
            <label class="black-text text-darken-4 active" for="data">Data Acidente</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m2 l2">
          <app-input-container >
            <input id="hora" materialize="pickatime"
                   class="timepicker"
                   formControlName="hora"
                   [materializeParams]="[hora]">
            <label class="black-text text-darken-4 active" for="hora">Hora</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m12 l12">
          <app-input-container [errorMessage]="['','tamanho minimo 50 caracteres','tamanho maximo 250 caracteres']">
            <textarea materialize="characterCounter" data-length="250" id="descricao" formControlName="descricao"
                      class="materialize-textarea"> </textarea>
            <label class="black-text text-darken-4" for="descricao">Descrição do Acidente de Trânsito</label>
          </app-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Dados Acidente de Trânsito</label>
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m3 l3">
          <app-input-container errorMessage="Campo Obrigatório">
            <select id="condicao-via" formControlName="condicaoDaVia" materialize="material_select"
                    [materializeSelectOptions]="condicoesDasVias">
              <option value="" disabled selected></option>
              <option *ngFor="let condicaoDaVia  of condicoesDasVias" [ngValue]="condicaoDaVia">{{condicaoDaVia.condicao}}
            </select>
            <label for="condicao-via" class="black-text text-darken-4">Condição da Via</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container errorMessage="Campo Obrigatório ">
            <select id="tipo-via" formControlName="tipoVia" materialize="material_select"
                    [materializeSelectOptions]="tiposVias">
              <option value="" disabled selected></option>
              <option *ngFor="let tipoVia  of tiposVias" [ngValue]="tipoVia">{{tipoVia.tipoVia}}
            </select>
            <label for="tipo-via" class="black-text text-darken-4">Tipo da Via</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container errorMessage="Campo Obrigatório ">
            <select id="visibilidade" formControlName="visibilidade" materialize="material_select"
                    [materializeSelectOptions]="visibilidades">
              <option value="" disabled selected></option>
              <option *ngFor="let visibilidade  of visibilidades" [ngValue]="visibilidade">{{visibilidade.visibilidade}}
            </select>
            <label for="visibilidade" class="black-text text-darken-4">Visibilidade</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container >
            <select id="sinalizacao" formControlName="sinalizacao" materialize="material_select"
                    [materializeSelectOptions]="sinalizacoes">
              <option value="" disabled selected></option>
              <option *ngFor="let sinalizacao  of sinalizacoes" [ngValue]="sinalizacao">{{sinalizacao.sinalizacao}}
            </select>
            <label for="sinalizacao" class="black-text text-darken-4">Sinalização</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container >
            <select id="clima" formControlName="clima" materialize="material_select"
                    [materializeSelectOptions]="climas">
              <option value="" disabled selected></option>
              <option *ngFor="let clima  of climas" [ngValue]="clima">{{clima.clima}}
            </select>
            <label for="clima" class="black-text text-darken-4">Clima</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container >
            <select id="periodo-dia" formControlName="periodoDia" materialize="material_select"
                    [materializeSelectOptions]="periodosDias">
              <option value="" disabled selected></option>
              <option *ngFor="let periodoDia  of periodosDias" [ngValue]="periodoDia">{{periodoDia.periodoDia}}
            </select>
            <label for="periodo-dia" class="black-text text-darken-4">Período do Dia</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container >
            <select id="tipo-acidente-transito" formControlName="tipoAcidenteTransito" materialize="material_select"
                    [materializeSelectOptions]="tiposAcidentesTransitio">
              <option value="" disabled selected></option>
              <option *ngFor="let tipoAcidenteTransito  of tiposAcidentesTransitio" [ngValue]="tipoAcidenteTransito">{{tipoAcidenteTransito.tipoAcidenteTransito}}
            </select>
            <label for="tipo-acidente-transito" class="black-text text-darken-4">Tipo de Acidente</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container>
            <select id="pista" formControlName="pista" materialize="material_select"
                    [materializeSelectOptions]="pistas">
              <option value="" disabled selected></option>
              <option *ngFor="let pista  of pistas" [ngValue]="pista">{{pista.pista}}
            </select>
            <label for="pista" class="black-text text-darken-4">Pista </label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l2">
          <app-input-container [errorMessage]="['Somente Números']">
            <input (blur)="somaVitimas" id="numero-de-mortos" formControlName="numeroDeMortos" type="text"
                   autocomplete="off">
            <label class="black-text text-darken-4" for="numero-de-mortos">Número de Mortos</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l2">
          <app-input-container [errorMessage]="['Somente Números']">
            <input (blur)="somaVitimas" id="numero-de-feridos" formControlName="numeroDeFeridos" type="text"
                   autocomplete="off">
            <label class="black-text text-darken-4" for="numero-de-feridos">Número de Feridos</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l2">
          <app-input-container [errorMessage]="['Somente Números']">
            <input  id="numero-de-vitimas" formControlName="numeroDeVitimas" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="numero-de-vitimas">Número de Vitimas</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Localização do Acidente de Trânsito</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <a (click)="buscaLatitudeLongitude()" class="amber accent-4 col s12 m3 l3   btn-large"><i
          class="material-icons left">search</i>Buscar no mapa</a>
        <div class="input-field col s12 m3 l3">
          <app-input-container errorMessage="Campo Obrigatório ">
            <input id="latitude" type="text" formControlName="latitude" autocomplete="off">
            <label class="black-text text-darken-4" for="latitude">Latitude</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container errorMessage="Campo Obrigatório ">
            <input id="longitude" type="text" formControlName="longitude" autocomplete="off">
            <label class="black-text text-darken-4" for="longitude">Longitude</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m3 l3">
          <app-input-container [errorMessage]="['Cep inválido']">
            <input id="cep" prevtransMask="99999-999" type="text" formControlName="cep" autocomplete="off">
            <label class="black-text text-darken-4" for="cep">Cep</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l8">
          <app-input-container errorMessage="Campo Obrigatorio">
            <input id="endereco" type="text" formControlName="endereco" autocomplete="off">
            <label class="black-text text-darken-4" for="endereco">Endereço</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l4">
          <app-input-container>
            <input id="complemento" type="text" formControlName="complemento" autocomplete="off">
            <label class="black-text text-darken-4" for="complemento">Complemento</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l5">
          <app-input-container errorMessage="Campo Obrigatório">
            <input id="bairro" formControlName="bairro" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="bairro">Bairro</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l5">
          <app-input-container errorMessage="Campo Obrigatorio">
            <input id="cidade" formControlName="cidade" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="cidade">Cidade</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l2">
          <app-input-container errorMessage="Campo Obrigatório" >
            <input id="estado" formControlName="estado" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="estado">Estado</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Veiculos Envolvidos</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4 l3">
          <app-input-container errorMessage="Campo Obrigatório, somente números">
            <input id="numero-de-veiculos" formControlName="numeroDeVeiculos" type="text" autocomplete="off">
            <label class="black-text text-darken-4" for="numero-de-veiculos">Número de Veiculos Envolvidos</label>
          </app-input-container>
        </div>
        <button [disabled]="!validaAdiciona" (click)="abreModalVeiculo()" class="amber accent-4 col s12 m3 l3  waves-light btn-large"><i
          class="material-icons left">add</i>Adicionar Veiculos</button>
        <div class="col s12">
          <table class="striped responsive-table">
            <thead>
            <tr>
              <th>TIPO VEICULO</th>
              <th>FABRICANTE</th>
              <th>MARCA</th>
              <th>PLACA</th>
              <th>DESCRIÇÃO</th>
              <th>NUMERO DE OCUPANTES</th>
              <th>EXCLUIR</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let veiculoT of veiculos; let i = index">
              <td>{{veiculoT.tipoVeiculo.tipoVeiculo}}</td>
              <td>{{veiculoT.fabricante}}</td>
              <td>{{veiculoT.marca}}</td>
              <td>{{veiculoT.placa}}</td>
              <td>{{veiculoT.descricao}}</td>
              <td>{{veiculoT.numeroOcupantes}}</td>
              <td>
                <a (click)="removerVeiculo(veiculoT, i)" class="amber accent-4 white-text  btn-flat"><i class="material-icons">delete</i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div *ngIf="totalVeiculos" class="error-msg cols 12 center-align">
          Número de Veiculos Envolvidos não Conferem  com o número de veiculos inseridos!!
        </div>
      </div>
      <div class="row">
        <button  (click)="cancelar()" class="amber accent-4 right waves-yellow btn"><i
          class="material-icons left">clear</i>Cancelar
        </button>
        <button (click)="salvar(acidenteTransitoForm.value)" class="amber accent-4 right waves-yellow btn" style="margin-right: 10px; "><i
          class="material-icons left">done</i>Salvar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal Mapa Busca Acidente de Trânsito -->
<div id="modal-busca" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content">
    <form>
      <div class="row map-container">
        <div materialize class="col s12" id="map">
          <agm-map [latitude]="lat"
                   [longitude]="lng"
                   [mapTypeId]="'roadmap'"
                   [zoom]="zoom"
                   id="myMap"
                   (mapClick)="mapClicked($event)">
            <agm-marker [latitude]="localizacao.latitude"
                        [longitude]="localizacao.longitude"></agm-marker>
          </agm-map>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="fechaMapaBusca()" class="amber accent-4 right  waves-yellow btn"><i
      class="material-icons left">clear</i>Cancelar
    </button>
    <button (click)="adicionaLocalizacao()"
            class="amber accent-4 right  waves-yellow btn" style="margin-right: 10px; "><i
      class="material-icons left">done</i>Adicionar
    </button>
  </div>
</div>

<!-- Modal cadastra veiculo-->
<div id="modal-veiculo" class="modal" materialize="modal" [materializeActions]="modalVeiculoActions">
  <div class="modal-content">
    <form materialize [formGroup]="veiculoForm" novalidate>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">{{tituloVeiculo}}</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório ">
            <select id="tipo-veiculo" formControlName="tipoVeiculo" materialize="material_select"
                    [materializeSelectOptions]="tiposVeiculos">
              <option value="" disabled selected>Selecione o Tipo de Veiculo</option>
              <option *ngFor="let tipoVeiculo  of tiposVeiculos" [ngValue]="tipoVeiculo">{{tipoVeiculo.tipoVeiculo}}
            </select>
            <label for="tipo-veiculo" class="black-text text-darken-4">Tipo de Veiculo</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="fabricante" type="text" formControlName="fabricante" autocomplete="off">
            <label class="black-text text-darken-4" for="fabricante">Fabricante</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="marca" type="text" formControlName="marca" autocomplete="off">
            <label class="black-text text-darken-4" for="marca">Marca</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="placa" type="text" formControlName="placa" autocomplete="off">
            <label class="black-text text-darken-4" for="placa">Placa</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório , tamanho minimo 5">
            <input id="descricao-veiculo" type="text" formControlName="descricao" autocomplete="off">
            <label class="black-text text-darken-4" for="descricao-veiculo">Descrição</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m4 l6 ">
          <app-input-container errorMessage="Campo Obrigatório ,Somente números">
            <input id="numeroOcupantes" type="text" formControlName="numeroOcupantes" autocomplete="off">
            <label class="black-text text-darken-4" for="numeroOcupantes">Número Ocupantes</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <button (click)="fechaModalVeiculo()" class="amber accent-4 right  waves-yellow btn"><i
          class="material-icons left">clear</i>Cancelar
        </button>
        <button (click)="adicionaVeiculo(veiculoForm.value)" [disabled]="!veiculoForm.valid"
                class="amber accent-4 right waves-yellow btn" style="margin-right: 10px; "><i
          class="material-icons left">done</i>Adicionar
        </button>
      </div>
    </form>
  </div>
</div>
