.container{
  margin-top: 24px;
}
.divisor{
  border-bottom: 1px solid #cccccc;
  font-size: 0;
  margin: 0;
  line-height: 110%;
  height: 15px;
}

.fom{
  font-size: 1.25rem;
}

.modal{
  z-index: 10001;
  margin: auto;
  max-height: 80%;
  height: 450px;
}

agm-map {
  height: 100%;
  position: relative;
}

.map-container{
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

#map{
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.image-upload{
  --active-color:#ffab00  !important;
}
.excluir{
  display: none;
  position: absolute;
  top: 16px;
}

.botao-excluir {
  opacity: 0;
  position: absolute;
  top: 45px;
  padding-left: 25px;
}

.botao-excluir:hover {
  opacity: 1;
  position: absolute;
  top: 45px;
  padding-left: 25px;
}

th{
  text-align: center;
}
td{
  text-align: center;
}
