<div class="container">
  <div class="row">
    <div class="barras col s12 l12">
      Estatística de Acidentes de Acordo com o dia
      <ngx-charts-bar-vertical
        [scheme]="colorSchemeBarra"
        [results]="diaDados"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Dias'"
        [yAxisLabel]="'Quantidade de Acidentes'"
        [legendTitle]="'Legenda'"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="barras col s12 l12">
      Estatística de Acidentes de Acordo com a Semana
      <ngx-charts-bar-vertical
        [scheme]="colorSchemeBarra"
        [results]="semanaDados"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Dias da Semana'"
        [yAxisLabel]="'Quantidade de Acidentes'"
        [legendTitle]="'Legenda'"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="barras col s12 l12">
      Estatística de Acidentes de Acordo com o Mês
      <ngx-charts-bar-vertical
        [scheme]="colorSchemeBarra"
        [results]="mesDados"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Meses'"
        [yAxisLabel]="'Quantidade de Acidentes'"
        [legendTitle]="'Legenda'"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Clima
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="climaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com a Condição da Via
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="condicaoDaViaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Periodo do Dia
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="periodoDiaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Tipo de Pista
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="pistaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o a Sinalização da Via
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="sinalizacaoDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Tipo do Acidente de Trânsito
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="tipoAcidenteTransitoDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Tipo de Via
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="tipoViaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com a Visibilidade
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="visibilidadeDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
</div>

