<div class="container">
  <div class="row">
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Clima
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="climaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com a Condição da Via
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="condicaoDaViaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Periodo do Dia
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="periodoDiaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Tipo de Pista
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="pistaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o a Sinalização da Via
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="sinalizacaoDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Tipo do Acidente de Trânsito
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="tipoAcidenteTransitoDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com o Tipo de Via
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="tipoViaDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col s12 l6">
      Estatística de Acidentes de Acordo com a Visibilidade
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="visibilidadeDados"
        [gradient]="false"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
</div>
