<div class="container">
  <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form materialize [formGroup]="loginForm" class="login-form"  action="#">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">PrevTrans Administração</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="amber-text darken-4 material-icons prefix">account_circle</i>
            <input id="usuario" formControlName="usuario" autocomplete="off" type="text">
            <label for="usuario" class="center-align">Usuário</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="amber-text darken-4 material-icons prefix">lock_outline</i>
            <input id="senha"  formControlName="senha" autocomplete="off" type="password">
            <label for="senha" class="">Senha</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button (click)="login()" [disabled]="!loginForm.valid"  class="btn amber waves-light col s12">Login</button>
            <div *ngIf="valida()" class="error-msg center-align">Usuário ou Senha inválidos!!</div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p  [routerLink]="['recuperar-senha']" class="amber-text darken-4 margin center-align medium-small"><a >Recuperar Senha</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
