<footer class="page-footer amber  darken-1">
  <div class="container ">
    <div class="row">
      <div class="col  s4">
        <h5 class="white-text">PrevTrans</h5>
        <p class="grey-text text-lighten-4">Sistema de Análise e prevenção de acidentes de trânsito!!</p>
      </div>
      <div class="col  s4">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/Prevtrans-720211624841339/">Facebook</a></li>
        </ul>
      </div>
      <div class="col  s4">
        <h5 class="white-text">Contato</h5>
        <p class="white-text">Email: jorgenes1@hotmail.com</p>
        <p class="white-text">Celular: (49)98867-0365</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright page-footer amber  darken-1">
    <div class="container">
      © 2017 Jorge Sebastião Rodrigues Corrêa 2017
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
