<footer class="page-footer amber  darken-1">
  <div class="container ">
    <div class="row">
      <div class="col s12 m4 l4">
        <h5 class="white-text">PrevTrans</h5>
        <p class="grey-text text-lighten-4">Sistema de Análise e prevenção de acidentes de trânsito!!</p>
      </div>
      <div class="col s12 m4 l4">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3"
                 href="https://www.facebook.com/Prevtrans-720211624841339/">Facebook</a></li>
        </ul>
      </div>
      <div class="col s12 m4 l4">
        <h5 class="white-text">Contato</h5>
        <p class="white-text">Email: jorgenes1@hotmail.com</p>
        <p class="white-text">Celular: (49)98867-0365</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright page-footer amber  darken-1">
    <div class="container">
      <p class="col s12 m6 l6 white-text left-align"> © 2017 Jorge Sebastião Rodrigues Corrêa 2017</p>
      <p class="col s12 m6 l6 white-text right-align">Versão 1.1.100</p>
    </div>
  </div>
</footer>
