<nav class="amber  darken-1" id="menu" >
  <div class="nav-wrapper">
    <a [routerLink]="['']" class="brand-logo">Prevtrans</a>
    <a href="#"data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['graficos']">Gráficos<i class="material-icons left">insert_chart</i></a></li>
    </ul>
    <ul class="side-nav amber  darken-1" id="mobile-demo">
      <li routerLinkActive="active">
        <a [routerLink]="['graficos'] ">
          <i class="material-icons white-text " >insert_chart</i>
           <span class="white-text"> Gráficos
           </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
