<div class="container">
  <div class="row">
    <form materialize [formGroup]="usuarioForm" novalidate>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">{{titulo}}</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <app-input-container errorMessage="Campo Obrigatório">
            <input id="nome" type="text" formControlName="nome" autocomplete="off">
            <label class="black-text text-darken-4" for="nome">Nome Completo</label>
          </app-input-container>
        </div>
        <div class="input-field col s12 m12 l12">
          <app-input-container [errorMessage]=messageErroUsuario>
            <input id="usuario" type="text" formControlName="usuario" autocomplete="off">
            <label class="black-text text-darken-4" for="usuario">Usuário</label>
          </app-input-container>
        </div>
        <div class="col s12">
        </div>
        <div class="input-field col s12 m12 l12">
          <app-input-container [errorMessage]=messageErroEmail>
            <input id="email" type="text" formControlName="email" autocomplete="off">
            <label class="black-text text-darken-4" for="email">E-mail</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Intituição</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12 ">
          <app-input-container errorMessage="Selecione a instituição a qual o usuário faz parte">
            <select id="instituicao-usuario" formControlName="instituicao"
                    materialize="material_select" [materializeSelectOptions]="instituicoes">
              <option value="" disabled selected>Selecione a Instituicao do Usuário</option>
              <option *ngFor="let instituicao of instituicoes "
                      [disabled]="auth.jwtPayload.id_instituicao !='PREVTRANS_ADMINISTRACAO'" [ngValue]="instituicao">{{instituicao.razaoSocial}}
              </option>
            </select>
            <label for="instituicao-usuario" class="black-text text-darken-4">Instituição do usuário</label>
          </app-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h1 class="divisor">
            <label class="black-text fom">Permissões de Acesso</label>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12 ">
          <app-input-container errorMessage="Selecione no minimo 1 permissão de acesso">
            <select id="permissoes-usuarios" multiple formControlName="usuarioPermissoes"
                    materialize="material_select" [materializeSelectOptions]="permissoes">
              <option value="" disabled selected>Selecione as Permissões do Usuário</option>
              <option *ngFor="let permissao of (permissoes)" [ngValue]="permissao"
                      [disabled]="auth.jwtPayload.id_instituicao !='PREVTRANS_ADMINISTRACAO'
                       && (permissao.permissao=='ROLE_CADASTRAR_INSTITUICAO'
                       || permissao.permissao =='ROLE_ALTERAR_INSTITUICAO')">{{permissao.descricao }}</option>
            </select>
            <label for="permissoes-usuarios" class="black-text text-darken-4">Permissões de Usuários</label>
          </app-input-container>
        </div>
        <div class="col s12 ">
          <div class="switch">
            <label class="black-text">
              INATIVO
              <input id="ativo" formControlName="ativo" type="checkbox">
              <span class="lever"></span>
              ATIVO
            </label>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <button type="button" (click)="cancelar()" class="amber accent-4 right  waves-yellow btn"><i
          class="material-icons left">clear</i>Cancelar
        </button>
        <button type="button" (click)="salvar(usuarioForm.value)" class="amber accent-4 right  waves-yellow btn" style="margin-right: 10px; "><i
          class="material-icons left">done</i>Salvar
        </button>
      </div>
    </form>
  </div>
</div>
