<nav id="menu">
  <div class="nav-wrapper amber darken-1 col s12">
    <ul id="nav-menu" class="left hide-on-med-and-down">
      <li><a [routerLink]="['novo']"><i class="material-icons left">add_box</i>Cadastrar Acidente de Trânsito</a></li>
      <li>
        <form>
          <div class="header-search-wrapper">
            <i class="material-icons" style="margin-right: 15px" >search</i>
            <input class="header-search-input " placeholder="Pesquisar Acidente de Trânsito">
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="width: 90%;margin-top: 64px">
  <div class="row">
    <div class="col s12">
      <table class="striped responsive-table" >
        <thead>
        <tr>
          <th>ID</th>
          <th>Titulo publicação</th>
          <th>latitude</th>
          <th>Longitude</th>
          <th *ngIf="auth.temPermissao('ROLE_ALTERAR_ACIDENTE_DE_TRANSITO')">Alterar</th>
          <th *ngIf="auth.temPermissao('ROLE_REMOVER_ACIDENTE_DE_TRANSITO')">Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let acidenteTransito of acidentesTransitos">
          <td>{{acidenteTransito.idAcidenteTransito}}</td>
          <td>{{acidenteTransito.tituloPublicacao}}</td>
          <td>{{acidenteTransito.latitude}}</td>
          <td>{{acidenteTransito.longitude}}</td>
          <td>{{acidenteTransito.idAcidenteTransito}}</td>
          <td *ngIf="auth.temPermissao('ROLE_ALTERAR_ACIDENTE_DE_TRANSITO')">
            <a [routerLink]="[acidenteTransito.idAcidenteTransito]" class="amber accent-4 white-text  btn-flat"><i
              class="material-icons">mode_edit</i></a>
          </td>
          <td *ngIf="auth.temPermissao('ROLE_REMOVER_ACIDENTE_DE_TRANSITO')">
            <a (click)="confirmaModal(acidenteTransito.idAcidenteTransito)" class="amber accent-4 white-text  btn-flat"><i
              class="material-icons">delete</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" materialize="modal" [materializeActions]="modalActions" [materializeParams]="[{dismissible: false}]">
  <div class="modal-content">
    <h4>Comfirmação</h4>
    <p>Deseja realmente excluir Acidente de Trânsito?</p>
  </div>
  <div class="modal-footer">
    <a (click)="confirmaExcluir(true)" class="amber accent-4  white-text btn-flat">Sim</a>
    <a (click)="fechaModal()" class="amber accent-4  white-text btn-flat">Não</a>
  </div>
</div>


